body{
    margin:0px auto;
    /*width:80%;
    height:80%;*/
    width:500px;
}
body, #Food, #Cloth, #Live, #Trip, #Edu, #Fun{
    height:500px;
    border: 1px solid black;
    border-radius:10px;
}
#Food, #Cloth, #Live, #Trip, #Edu, #Fun{
    width:81px;
    float:left;
    background-repeat:no-repeat;
    background-size:cover;
}
#Food{
    background-image: url(/image/images%20\(1\).jpg);
}
#Cloth{
    background-image: url(/image/images%20\(2\).jpg);
}
#Live{
    background-image: url(/image/images%20\(3\).jpg);
}
#Trip{
    background-image: url(/image/images.jpg);
}
