body{
    margin:0px auto;
    /*width:80%;
    height:80%;*/
    width:720px;
    background-image: url(image/%E7%94%B7%E5%AE%BF.jpg)
}
body, #Food, #Cloth, #Live, #Trip, #Edu, #Fun{
    height:640px;
    border: 1px solid black;
    border-radius:10px;
}
#Food, #Cloth, #Live, #Trip, #Edu, #Fun{
    width:148px;
    float:left;
    background-repeat:no-repeat;
    background-size:cover;
}
#Food{
    //background-image: url(/image/_MG_1649\(%E5%8E%BB%E6%A8%B9\).jpg);
}
#Cloth{
    //background-image: url(/image/B54_A094724.jpg);
}
#Live{
    //background-image: url(/image/B62_A092753.jpg);
}

#Trip{
    //background-image: url(/image/%E5%9C%96%E8%B3%873.JPG);
}

